.git/
.idea/
.cache
**/.git
**/.github/
.idea/
.cache
**/.env3.8/
__pycache__
.pytest_cache/
orphan_branch.sh
pipeline
requirements-dev.txt
.github/
/venv
docker-compose.yml
README.md
vol/
deploy/
data/
